<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.srcBoardMapper">
    <select id="selectSrcBoardList" resultType="SrcVO">
        <![CDATA[
        SELECT
            src.src_id        srcId,
            src.src_title     srcTitle,
            src.src_writer    srcWriter,
            src.src_likecnt   srcLikecnt,
            src.src_viewcnt   srcViewcnt,
            src.src_path      srcPath,
            user.user_name    srcWriterName,
            user.user_profile srcWriterImgPath
        FROM tbl_src src, tbl_user user
        WHERE src.src_status = 1 AND src.src_writer = user.user_id
        ]]>
        <include refid="search"></include>
        <![CDATA[
        ORDER BY src.src_likecnt DESC, src.src_id ASC
        LIMIT #{pageStart}, #{perPageNum}
        ]]>
    </select>

    <select id="srcListSearchCount" resultType="int">
        <![CDATA[
        SELECT count(*)
        FROM tbl_src src, tbl_user user
        WHERE src.src_status = 1 AND src.src_writer = user.user_id
        ]]>
        <include refid="search"></include>

    </select>

    <sql id="search">
        <if test="searchType != null">
            <if test="searchType == 't'.toString()">
                and src_title like CONCAT('%', #{keyword}, '%')
            </if>
            <if test="searchType == 'w'.toString()">
                and (SELECT user_name
                FROM tbl_user
                WHERE tbl_user.user_id = tbl_src.src_writer) like CONCAT('%', #{keyword}, '%')
            </if>
            <if test="searchType == 'tw'.toString()">
                and (src_title like CONCAT('%', #{keyword}, '%') OR (SELECT user_name
                FROM tbl_user
                WHERE tbl_user.user_id = tbl_src.src_writer) like CONCAT('%', #{keyword}, '%'))
            </if>
        </if>
    </sql>
</mapper>

