<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.srcMapper">

    <!--<insert id="insertSrc">-->
    <!--insert into tbl_src (src_id, src_path, src_comments, src_title, src_writer)-->
    <!--values(#{srcId}, #{srcPath}, #{srcComments}, #{srcTitle}, #{srcWriter})-->
    <!--</insert>-->
    <insert id="insertSrc">
        insert into tbl_src (src_id, src_path,
        <if test="srcWriter != 0">src_writer,</if>
        src_comments, src_title, src_status)
        values(#{srcId}, #{srcPath},
        <if test="srcWriter != 0">#{srcWriter},</if>
        #{srcComments}, #{srcTitle}, #{srcStatus})
    </insert>

    <select id="selectSrcOne" resultType="SrcVO">
        SELECT
            src.src_id       srcId,
            src.src_writer   srcWriter,
            src.src_path     srcPath,
            src.src_comments srcComments,
            src.src_regdate  srcRegdate,
            src.src_update   srcUpdate,
            src.src_title    srcTitle,
            src.src_likecnt  srcLikecnt,
            src.src_viewcnt  srcViewcnt,
            src.src_status   srcStatus
        FROM tbl_src src
        WHERE src_id = #{srcId}


    </select>

    <update id="updateSrc">
        UPDATE tbl_src
        SET
            src_comments = #{srcComments},
            src_title    = #{srcTitle},
            src_update   = CURRENT_TIMESTAMP,
            src_status   = #{srcStatus}
        WHERE src_id = #{srcId}
    </update>

    <update id="updateSrcStatus">
        UPDATE tbl_src
        SET src_status = 2
        WHERE src_id = #{srcId}
    </update>

    <update id="updateSrcWriter">
        UPDATE tbl_src
        SET src_writer = #{srcWriter}
        WHERE src_id = #{srcId}
    </update>

    <update id="updateSrcLikeCnt">
        UPDATE tbl_src
        SET src_likecnt = #{srcLikecnt}
        WHERE src_id = #{srcId}
    </update>

    <update id="updateSrcViewCnt">
        UPDATE tbl_src
        SET src_viewcnt = src_viewcnt + 1
        WHERE src_id = #{srcId}
    </update>

    <update id="updateSrcDelete">
        UPDATE tbl_src
        SET src_status = 2
        WHERE src_id = #{srcId}
    </update>
</mapper>