<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.srcReplyMapper">

    <!-- 댓글 입력 -->
    <!--<insert id="insertReply">-->
        <!--INSERT INTO tbl_src_reply (src_id, reply_text, reply_writer, reply_status)-->
        <!--VALUES (#{srcId}, #{replyText}, #{replyWriter}, #{replyStatus})-->
    <!--</insert>-->
    <insert id="insertReply">
        INSERT INTO tbl_src_reply (src_id, reply_text, reply_status)
        VALUES (#{srcId}, #{replyText},  #{replyStatus})
    </insert>

    <!-- 댓글 수정  필드 주석처리하면 테스트케이스 실패함-->
    <update id="updateReply" >
        UPDATE  tbl_src_reply
        SET
          src_id = #{srcId},
          reply_text = #{replyText},
          reply_status = #{replyStatus}
        WHERE reply_id = #{replyId}
    </update>

    <!-- 댓글 삭제  필드 주석처리하면 테스트케이스 실패함 -->
    <delete id="deleteReply">
        DELETE FROM tbl_src_reply
        WHERE reply_id = #{replyId}

    </delete>

    <!-- 댓글 목록 -->
    <select id="listSrcReply" resultType="SrcReplyVo">
        SELECT reply_id, src_id, reply_text, reply_writer, user_name AS userName, r.reply_regdate, r.reply_update
        FROM tbl_src_reply r, tbl_user m
        WHERE  r.reply_writer = m.user_id AND src_id=#{srcId}
        ORDER BY reply_id
    </select>
</mapper>