<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.UserMapper">

    <insert id="insertUser">
insert into tbl_user (user_email, user_password, user_name)
values(#{userEmail}, #{userPassword}, #{userName})
</insert>

<select id = "checkdupl" resultType = "UserVO">
    select user_id userId, user_state userState from tbl_user where user_email = #{userEmail}
</select>

    <select id="login" resultType="UserVO">

select user_email userEmail,
        user_id userId,
        user_name userName,
        user_profile userProfile
from tbl_user
  where user_email = #{userEmail}
 and user_password = #{userPassword}
 and user_state = 1

</select>

    <select id="readUser" resultType="UserVO">

select user_id userId,
        user_email userEmail,
        user_name userName,
        user_social_id userSocialId,
        user_profile userProfile
        from tbl_user
        where user_id = #{userId}
</select>

<update id="updateUser">
    update tbl_user SET
    user_name =#{userName},
    user_profile =#{userProfile}
    where user_id = #{userId}
</update>
    <update id="deleteUser">
    update tbl_user SET
    user_state = '2'
    where user_id = #{userId}

</update>

    <insert id="naverInsertUser">
        insert into tbl_user (user_email,user_social_id, user_name)
        values(#{userEmail},#{userSocialId}, #{userName})
</insert>

    <select id="naverReadUser" resultType="UserVO">
        select user_id userId,
        user_name userName
        from tbl_user
        where user_social_id = #{userSocialId}
</select>

    <update id="createAuthKey">
       update tbl_user set user_auth_code = #{userAuthCode} where user_email = #{userEmail}
    </update>

<update id="userAuth">
update tbl_user SET
user_state = '1'
where user_email = #{userEmail}

</update>
    <select id="chkAuth" resultType="UserVO">

        select user_id userId,
        user_name userName,
        user_email userEmail
        from tbl_user
        where user_auth_code = #{userAuthCode}
    </select>

<update id="updatePassword">
        update tbl_user SET
          user_password = #{userPassword}
        where user_id = #{userId}
</update>

<update id="successAuth">
        update tbl_user SET
        user_auth_code = NULL
        where user_id = #{userId}
</update>



</mapper>
