<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.UserMapper">

<insert id = "insertUser">
insert into tbl_user (user_email, user_password, user_name)
values(#{userEmail}, #{userPassword}, #{userName})
</insert>

<select id="login" resultType="UserVO">

select user_email userEmail,
        user_id userId,
        user_name userName
from tbl_user
  where user_email = #{userEmail}
 and user_password = #{userPassword}


</select>

<select id="readUser" resultType="UserVO">

select user_id userId,
        user_email userEmail,
        user_name userName,
        user_social_id userSocialId
        from tbl_user
        where user_id = #{userId}
</select>

<update id="updateUser">
    update tbl_user SET
    user_name =#{userName},
    user_password = #{userPassword}
    where user_id = #{userId}
</update>
<update id="deleteUser">
    update tbl_user SET
    user_state = '1'
    where user_id = #{userId}

</update>


</mapper>
