<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation=
               "http://www.springframework.org/schema/beans
               http://www.springframework.org/schema/beans/spring-beans.xsd
               http://www.springframework.org/schema/context
               http://www.springframework.org/schema/context/spring-context.xsd

">

    <context:component-scan base-package="persistence" />
    <context:component-scan base-package="service"></context:component-scan>
    <context:component-scan base-package="common" />

    <bean id="dataSource"
          class="org.springframework.jdbc.datasource.DriverManagerDataSource">

        <property name="driverClassName" value="com.mysql.jdbc.Driver"></property>

        <property name="url"
                  value="${spring.database.url}"></property>
        <property name="username" value="${spring.database.username}"></property>
        <property name="password" value="${spring.database.password}"></property>
    </bean>

    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <property name="configLocation" value="classpath:/mybatis-config.xml"></property>
        <property name="mapperLocations" value="classpath:/mappers/**/*Mapper.xml"></property>
    </bean>

    <bean id="sqlSession" class="org.mybatis.spring.SqlSessionTemplate" destroy-method="clearCache">
        <constructor-arg name="sqlSessionFactory" ref="sqlSessionFactory"></constructor-arg>
    </bean>

    <!-- google Class Bean설정 추가 -->
    <!-- 클라이언트ID와 보안비밀 세팅 -->
    <bean id="googleConnectionFactory"
          class="org.springframework.social.google.connect.GoogleConnectionFactory">
        <constructor-arg
                value="252378785627-6v1tgs1kjie4ofmstgour5m6egi24hmi.apps.googleusercontent.com" />
        <constructor-arg value="$J6V3TJYTIexszG_1G71ZfgwR" />
    </bean>
    <!-- 승인된 자바스크립트 원본과 승인된 리디렉션 URI -->
    <bean id="googleOAuth2Parameters"
          class="org.springframework.social.oauth2.OAuth2Parameters">
        <property name="scope"
                  value="https://www.googleapis.com/auth/plus.login" />
        <property name="redirectUri"
                  value="http://localhost:8081/user/googleLogincallback" />
    </bean>

    <context:property-placeholder location="classpath:/application.properties" />

    <bean id = "connectionFactoryLocator" class="org.springframework.social.connect.support.ConnectionFactoryRegistry">
        <property name = "connectionFactories">
            <bean class = "org.springframework.social.facebook.connect.FacebookConnectionFactory">
                <constructor-arg value = "${spring.social.facebook.appId}"/>
                <constructor-arg value = "${spring.social.facebook.appSecret}"/>
            </bean>
        </property>
    </bean>
    <bean id = "inMemoryConnectionRepository" class = "org.springframework.social.connect.mem.InMemoryConnectionRepository">
        <constructor-arg ref=  "connectionFactoryLocator"/>
    </bean>

    <!-- 메일 보내기 -->
    <bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
        <property name="host" value="smtp.gmail.com" />
        <property name="port" value="587" />
        <property name="username" value="${spring.email.google.Id}" />
        <property name="password" value="${spring.email.google.Secret}" />


        <!-- email 요청시는 SMTP -->
        <property name="javaMailProperties">
            <props>
                <prop key="mail.transport.protocol">smtp</prop>
                <prop key="mail.smtp.auth">true</prop>
                <prop key="mail.smtp.starttls.enable">true</prop>
                <prop key="mail.debug">true</prop>
                <prop key="mail.smtp.ssl.trust">smtp.gmail.com</prop>
            </props>
        </property>
    </bean>

</beans>